server:

  port: ${PORT:8080}
  forward-headers-strategy: framework

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/athlete_db}
    username: ${SPRING_DATASOURCE_USERNAME:athlete_app}
    password: ${SPRING_DATASOURCE_PASSWORD:change-me}
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
